<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group"><%= f.label :first_name %><br />
  <%= f.text_field :first_name, autofocus: true, :class => "form-control" %></div>

  <div class="form-group"><%= f.label :last_name %><br />
  <%= f.text_field :last_name, :class => "form-control" %></div>

  <div class="form-group"><%= f.label :email %><br />
  <%= f.email_field :email, :class => "form-control", :placeholder => "example@email.com" %></div>

  <div class="form-group"><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", :class => "form-control" %></div>

  <div class="form-group"><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %></div>

  <%= f.submit "Sign up", :class => "btn btn-default" %>
<% end %>

<%= render "devise/shared/links" %>
