<p id="notice"><%= notice %></p>

<p>
  <strong>Num votes:</strong>
  <%= @suggestion.num_votes %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
