<%= form_for(@friend_request) do |f| %>
  <% if @friend_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friend_request.errors.count, "error") %> prohibited this friend_request from being saved:</h2>

      <ul>
      <% @friend_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
