<h1>Listing friend_requests</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @friend_requests.each do |friend_request| %>
      <tr>
        <td>

          <%= friend_request.sender.full_name %> <br/>
          <%= friend_request.message %>
          <%= button_to 'Accept', {action: 'accept', :request_id => friend_request.id}, class: "btn btn-warning" %>
          <%= button_to 'Reject', {action: 'reject', :request_id => friend_request.id}, class: "btn btn-warning" %>
      </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friend request', new_friend_request_path %>
