<!DOCTYPE html>
<html>
<head>
  <title>Nouvement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1tCq3TespBz8g1AvwwwUCpbnwVOtu0Wo">
  </script>  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   
 <%= javascript_include_tag 'main.js' %>
 
  <%= csrf_meta_tags %>

</head>
<body>

  <%= yield %>


</body>
</html>
