<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :date %><br>
    <%= f.text_field :date, :class => "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :time %><br>
    <%= f.text_field :time, :class => "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :message %><br>
    <%= f.text_area :message, :class => "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :location %>
    <%= f.text_field :location , :id => "location", :class => "form-control" %>
  </div>

  <div class="field table">
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
      <tr>
        <td><%= check_box_tag 'user_ids[]', user.id %></td>
        <td><%= user.full_name %></td>
      </tr>
      <% end %>
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.label :state %><br>
    <td>
      <%= radio_button_tag 'state', :final, true, :class => "radio" %>
      Final
    </td>
    <td>
      <%= radio_button_tag 'state', :draft, false, :class => "radio" %>
      Draft
    </td>
  </div>
  <br/>

  <%= check_box_tag 'allowSuggestion', 1, :class => "checkbox" %> 
  <%= 'allow friends to make suggestions' %> 
  <br/>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
