<%= javascript_include_tag 'main.js' %>

<h1>Invited events</h1>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Message</th>
      <th>Location</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invited_events.each do |event| %>
      <tr>
        <td><%= event.date %></td>
        <td><%= event.time %></td>
        <td><%= event.message %></td>
        <td ><%= event.location %></td>
        <td><%= event.state %></td>
        <td><%= link_to 'Show', event, :id => "show" %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
