<%= javascript_include_tag 'main.js' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Message:</strong>
  <%= @event.message %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>

<% if @event.state == 'draft' %>
  <p>
    <% if not @event.voters.include?(current_user) %>
      <strong>Please vote for a place for this event:</strong>
      <%= form_for :vote, :url => vote_path, :method => 'post' do |f| %>
          <% @event.suggestions.each do |suggestion| %>
          <tr>
            <td><%= radio_button_tag 'voted_location', suggestion.location.id, false %></td>
            <td><%= suggestion.location.name %></td>
            <td><%= suggestion.num_votes %></td>
          </tr>
          <br/>
          <% end %>
          
          <br/>
          <div class="actions">
              <%= f.submit 'Vote' %>
          </div>
      <% end %>
    <%else%>
      <strong>Voting results:</strong>
      <% @event.suggestions.each do |suggestion| %>
          <tr>
            <td><%= suggestion.location.name %></td>
            <td><%= suggestion.num_votes %></td>
          </tr>
          <br/>
      <% end %>
    <% end %>
  </p>

    <% if (not @event.voters.include?(current_user)) && (@event.allowsuggest == 1) %>
      <strong>Suggest another place:</strong>
      <%= form_for :suggestion, :url => suggest_path, :method => 'post' do |f| %>
              <div class="input-group">
                <%= f.text_field :location %>
              <div class="actions">
                <%= f.submit 'Submit' %>
              </div>
      <% end %>
    <% end %>
<% else %>
    <p>
      <strong>Location:</strong>
      <%= @event.location %>
    </p>
<% end %>
<%= link_to 'Back', events_path %>
