html, body, #map-canvas {
        height: 100%;
        width:100%;
        margin: 0px;
        padding: 0px;   
    	overflow:hidden; 
    	position:relative;
}

#map-canvas {
	position:relative;
	
}

#panel1 {
	position: absolute; 
   	width: 45%;
   	height:100%;
   	top:52px;
   	right:-45%;
   	overflow: scroll;
  }

#panel2 {
	position: absolute; 
   	width: 45%;
   	height:100%;
   	top:52px;
   	right:-45%;
   	overflow: scroll;
}


