<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @check_in.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @check_in.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @check_in.time %>
</p>

<%= link_to 'Edit', edit_check_in_path(@check_in) %> |
<%= link_to 'Back', check_ins_path %>
