<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Nouvement</a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
			<li class="form-inline" style="padding-top: 8px">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name))  do |f| %>

  			<div class="form-group"><%= f.label :email, :class => "sr-only" %>
  			<%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email" %></div>

  			<div class="form-group"><%= f.label :password, :class => "sr-only" %>
    		<%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %></div>

  			<% if devise_mapping.rememberable? -%>
    		<div class="checkbox"><%= f.check_box :remember_me %><%= f.label :remember_me %></div>
  			<% end %>

  			<%= f.submit "Sign in", :class => "btn btn-default" %>
			<% end %>
			<li><%= link_to "Register", new_user_registration_path %></li>
          </li>
        </ul>
      </div>
    </div>
</nav>

<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" align="center" style="width: 100%, size: auto">
                <br>
                <br>
                <br>
                <img class="img-responsive" src=<%= image_path('logo.png') %>>
                <br>
                <br>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="col-md-4 col-md-offset-2" align="center">
        		<div class="well">
                	<h3>What is Nouvement?</h3>
                	Nouvement is a website to invite people to an event with different experience. Event that we 
                  mention here can be anything, from house party to lunch after the lecture. People can give suggestion, 
                  vote for the place that they want to go as well as giving preferences. 
                </div>
        	</div>
        	<div class="col-md-4" align="center">
        		<div class="well">
                	<h3>Why use Nouvement?</h3>
                	We are still developing this website to have more features, make it works better in real-time based. Also, 
                  it's a lot easier when people can see the event as well as the navigation to a particular places. 
                </div>
        	</div>
        </div>
    </div>
</div>

<%= render "devise/shared/links" %>
