<strong>Hi <%= @user.last_name+" "+@user.first_name %>,  </strong>

<p>
  <strong>Name Event:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date Event:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time Event:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>We hope you will have fun with the event !</p>

Your faithfully,
<br/>
Nouvement 2014.