  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Nouvement</a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
			<% if notice %>    
  			<li><a class="notice"><%= notice %></a></li>
  			<% end %>

  			<% if alert %>
  			<li><a class="alert"><%= alert %></a></li>
  			<% end %>          

        	<% if user_signed_in? %>
        	<li id="my_event"><a class="glyphicon glyphicon-list" data-toggle="tooltip" data-placement="bottom" title="My Events"></a></li>
        	<li id ="create_event"><a class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title="Create Event"></a></li>
        	<li><a class="glyphicon glyphicon-flag" data-toggle="tooltip" data-placement="bottom" title="Notification"></a></li>
        	<li id="acc_set"><a class="glyphicon glyphicon-cog" data-toggle="tooltip" data-placement="bottom" title="Account Settings"></a></li>
        	<li>
            <%= link_to "", destroy_user_session_path, :class=>"glyphicon glyphicon-off", :data => {:toggle=>"tooltip", :placement=>"bottom"}, title: "Logout", method: :delete %>
            </li>
            <li>
            <div class="form-inline" style="padding-top: 8px">
              <div class="form-group">
                <input id="search_text" type="text" class="form-control" placeholder="Search Address">
              </div>
              <!-- Tom: my added code for allowing to change mode options -->
              <div id="panel" class="form-group">
              		<select id="mode" onchange="calcRoute();" class="form-control">
              			<option value="DRIVING">Travel By</option>
                		<option value="DRIVING">Driving</option>
                		<option value="WALKING">Walking</option>
                		<option value="BICYCLING">Bicycling</option>
                		<option value="TRANSIT">Transit</option>
              		</select>
              </div>
              <button id ="search" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Find Address">
                <span class="glyphicon glyphicon-search"></span>
              </button>
              <button id="directions" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Find Directions!">
                <span class="glyphicon glyphicon-road"></span>
              </button>
            </div>
          </li>

          <% else %>
        	<li><%= link_to "Register", new_user_registration_path %></li>
        	<li><%= link_to "Sign In", new_user_session_path %></li>

        	<% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div id="map-canvas"></div>
  <!--<div id="panel1"></div> -->



<div id="panel2"></div>
  <iframe id="panel1" src="../events" ></iframe>
