<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group"><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "example@email.com" %></div>

  <%= f.submit "Resend confirmation instructions", :class => "btn btn-default" %>
<% end %>

<%= render "devise/shared/links" %>
