<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group"><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, :class => "form-control" %></div>

  <%= f.submit "Resend unlock instructions", :class => "btn btn-default" %>
<% end %>

<%= render "devise/shared/links" %>
